<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{
  box-sizing: border-box;
}
.column {
  float: left;
  width: 30.33%;
  padding: 10px;
  height: 3000px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.background {
	box-sizing: border-box;
	width: 100%;
	height: 3000px;
	padding: 10px;
	background-image: url(Ryan-Giggs.jpg);
	border: 1px solid black;
	background-size: 100% 100%;
}
#button {
    width: 6em;
    border: 2px;
    background: #f7f7f7;
    border-radius: 0.2px;
}
a {
    display: inline-block;
    width: 100%;
    line-height: 1.4em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: black;
    background: #eff;
}

</style>